@model IEnumerable<Macro_Model.Models.Listadefavorito>

@{
	ViewData["Title"] = "ListaFavoritos";
}

<div class="table-responsive-sm" style="margin:0px 20px;display:flex;flex-direction:column;justify-content:flex-start;height:fit-content;align-items:center;padding-bottom:50px">
	<div style="background-color:#fff; padding: 10px 15px;margin:20px auto;border-radius:20px">
		<h1 style="text-align:center;padding:15px 0px">Listas de favoritos</h1>

		<form asp-action="CriaFavoritos" method="post" style="margin-bottom:20px;">
			<div class="form-group">
				<label for="nomeLista">Nome da nova lista</label>
				<input type="text" class="form-control" id="nomeLista" name="nomeLista" required />
			</div>
			</br>
			<button type="submit" class="btn btn-success">Criar nova lista de favoritos</button>
		</form>


		<table class="table table-bordered">
			<thead>
				<tr class="table-info">

					<th style="text-align: center; vertical-align: middle;">
						@Html.DisplayNameFor(model => model.First().Nome)
					</th>
					<th style="text-align: center; vertical-align: middle;">
						@Html.DisplayName("Produtos")
					</th>
					<th style="text-align: center; vertical-align: middle;">
						@Html.DisplayName("Gerenciar")
					</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>

						<td style="text-align: center; vertical-align: middle;">
							@Html.DisplayFor(modelItem => item.Nome)
						</td>
						<td >
							<ul >
								@foreach (var produto in item.RelacaoProdutoListas.Select(r => r.Produto))
								{
									<li style="text-align:center" >@produto.Nome</li>
								}
							</ul>
						</td>
						<td style="display:flex;width:100%;justify-content:center;flex-direction:column; gap:2px">
							<a class="btn btn-secondary btn-sm py-1" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
							<a class="btn btn-secondary btn-sm py-1" asp-action="Detalhe" asp-route-id="@item.Id">Detalhes</a>
							<form method="post" action="@Url.Action("DeleteConfirmed", new { id = item.Id })" style="display:inline;">
								<button style="width:100%" type="submit" class="btn btn-danger btn-sm py-1" onclick="return confirm('Tem certeza que deseja excluir esta lista?');">Excluir</button>
							</form>
						</td>
					</tr>
				}

			</tbody>
		</table>

	</div>
</div>