@model Macro_Model.Models.Produto

@{
    ViewData["Title"] = "Delete";
}




<div style="background-color:#fff; padding: 30px 30px;margin:50px">
    <h2 style="text-align:center;padding:15px 0px">Tem certeza que deseja deletar o produto/alimento cadastrado?</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Nome : ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Informações Nutricionais : ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nutricional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Restrição Alimentícia : ")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> 
        
    </form>
</div>
